{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "extends": ["airbnb", "prettier"], //"react-app" if we work in 'create-react-app'
  "plugins": ["prettier", "react", "jsx-a11y", "import", "react-hooks"],
  "rules": {
    "strict": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prefer-stateless-function": 0,
    "react/prop-types": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/no-unescaped-entities": 0,
    "react/jsx-indent": 0,
    "react/jsx-indent-props": 0,
    "no-console": 0,
    "no-use-before-define": 0,
    "import/prefer-default-export": 0,
    "global-require": 0,
    "linebreack-style": [0, "error", "windows"],
    "no-unused-vars": "warn",
    "import/no-unresolved": 0,
    "no-else-return": 0,
    "radix": 0
  }
}
